upstream chatbot_server {
        server 127.0.0.1:8001 fail_timeout=0;
}

server {
        listen 8000 default_server;
        return 444;
}

server {
        listen 8000;
        server_name undertheseanlp.com; # change to your own domain name

        location = /favicon.ico { access_log off; log_not_found off; }
        location / {
                root /;
                proxy_set_header Host $host;
                proxy_redirect off;

                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Scheme $scheme;
                proxy_set_header X-Forwarded-Host $host:$server_port;
                proxy_set_header X-Forwarded-Server $host;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

                proxy_pass_header Server;
                proxy_pass http://chatbot_server;
        }
}